<%= link_to "Share my location", trip_alerts_path(@trip, kind: "share"), method: :post %>

<div id="address" style="width: 100%; height: 50px;"></div>
<div id="map" style="width: 100%; height: 750px;"></div>


