.a {
  color: #085F63;
}

.whistle{
  background-color: #085F63;
  padding: 40px;
  margin: 0px;
  color: white;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  opacity: 1;
  bottom: 70px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.safe{
  background-color: #085F63;
  padding: 15px;
  margin: 0px;
  color: white;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  opacity: 1;
  bottom: 10px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.share {
  background-color: #085F63;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 35px;
  margin: 5px;
  color: white;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  opacity: 1;
  bottom: 63px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

}

.share:active {
  color: grey;
}

.new_trip {
  display: flex;
  border-radius: 10px;
  font-weight: bold;
  position: absolute;
  top: 9px;
  left: 75px;
  z-index: 2;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  background-color: #085F63;
  border-color: #085F63;
  height: 50px;
}

.btn:active {
  background-color: #085F63;
  border-color: #085F63;
}

.form-control {
  height: 50px;
  width: 215px;
}
