.a {
  color: #0a7176;
}

.whistle{
  background-color: rgb(175, 53, 87);
  padding: 15px;
  margin: 5px;
  color: white;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  opacity: 1;
  bottom: 80px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 22px;
  letter-spacing: 1px;
}

.whistle:focus {
  color: #0a7176;
  background-color: white;
  text-decoration: none;
}

.safe{
  background-color: #0a7176;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  padding: 15px;
  margin: 0px;
  color: white;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  opacity: 1;
  bottom: 20px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 22px;
  letter-spacing: 1px;
}

.safe:focus {
  color: #0a7176;
  background-color: white;
  text-decoration: none;
}

.share {
  background-color: #0a7176;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  padding: 30px;
  margin: 5px;
  color: white;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  opacity: 1;
  bottom: 20px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 22px;
  letter-spacing: 1px;

}

.share:focus {
  color: #0a7176;
  background-color: white;
  text-decoration: none;
}

.new_trip {
  display: flex;
  border-radius: 10px;
  font-weight: bold;
  position: absolute;
  top: 9px;
  left: 75px;
  z-index: 2;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  background-color: #0a7176;
  border-color: #0a7176;
  height: 50px;
}

.btn:active {
  background-color: #0a7176;
  border-color: #0a7176;
}

.form-control {
  height: 50px;
  width: 215px;
}
