.new_trip {
  padding: 15px;
  margin: 5px;
  background-color:#bfbfbf;
  border-radius: 15px;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  opacity: 1;
  bottom: 63px;
  width: 100%;
}

.destination-container  {
  position: relative;
}
